@import '../../styles/variables.scss';

.task {
  width: 90%;
  min-height: 4rem;
  margin-bottom: 1rem;
  background-color: $color-task-bg;
}

.pseudoTask {
  width: 90%;
  min-height: 4rem;

  background-color: transparent;
}
