@import '../../styles/variables.scss';

.list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: rem(10);
  padding-bottom: rem(10);
}

.tasks {
  min-height: 1rem;
  width: 100%;
}

.task {
  background-color: $color-task-bg;
}
