@import '../../styles/variables.scss';

.list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: rem(10);
  padding-bottom: rem(10);
}

.tasks {
  min-height: 1rem;
  width: 100%;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: rem(10);
  width: rem(250);
  max-height: rem(330);
  min-height: rem(180);
  padding: rem(20) rem(30) rem(20) rem(20);
  margin-right: 1rem;
  box-shadow: 0 0 20px $color-box-shadow;
  border-radius: 10px;
  background-color: white;
}
