$color-column-bg: rgb(128, 240, 234);
$color-task-bg: rgb(231, 249, 126);

$html-font-size: 16;

// @function stripUnit($value) {
//     @return $value / ($value * 0 + 1);
// }

// @function rem($pxValue) {
//     @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
// }

@function rem($value) {
    $remValue: calc($value / $html-font-size) + rem; 
    @return $remValue;
}