@import '../../styles/variables.scss';

.footer {
    /* height: 14rem; */

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e1e4e5;

    padding-top: rem(30);
    padding-bottom: rem(30);
}

.footer__container {
    max-width: rem(1200);
    margin: 0px auto;
}

.footer__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: rem(30);
}

.footer__repos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(30);
}

.footer__git {}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__name {
    color: #000000;
    padding-left: rem(10);
}

.footer__adds {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__rss {}

.footer__year {
    font-size:rem(20);
    line-height: rem(15);
    font-weight: 900;
}